* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Bodoni", serif;
}
.accordion-container {
  background-color: #e48494;
  border: 2px solid #000;
  margin: 10% auto;
  width: fit-content;
  & > .puzzle {
    font-size: 0.8rem;

    display: flex;
    justify-content: space-between;
    padding: 1rem;
    &-question {
      background-color: #99c4c8;
      padding: 1rem;
    }

    &-answer {
      background-color: #fff9a4;
      padding: 0.5rem;
      font-weight: bold;
    }
    & > .show-button {
      margin-left: 2rem;
      width: 5.5rem;
      height: 2.5rem;
      border: none;
      border-radius: 0.5rem;
      font-size: 1rem;
      font-weight: bold;
    }
  }
}
